{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}New Post{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
    <label for="title">Title</label>
    <input name="title" id="title" value="{{ request.form['title'] }}" required>
    <label for="content">Body</label>
    <textarea name="content" id="content">{{ request.form['content'] }}</textarea>
    <input type="submit" value="Save">
</form>
{% endblock %}