{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Posts{% endblock %}</h1>
{% if g.user %}
<a class="action" href="{{ url_for('blog.create_post') }}">New</a>
{% endif %}
{% endblock %}

{% block content %}
{% for post in posts %}
<article class="post">
    <header>
        <div>
            <h1>{{ post['title'] }}</h1>
            <div class="about">by {{ post['author'] }} on {{ post['created_at']  }}</div>
        </div>
        {% if g.user['username'] == post['author'] %}
        <a class="action" href="{{ url_for('blog.update_post', post_id=post['_id']) }}">Edit</a>
        {% endif %}
    </header>
    <p class="body">{{ post['content'] }}</p>
</article>
{% if not loop.last %}
<hr>
{% endif %}
{% endfor %}
{% endblock %}