{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}A Blog API webservice client{% endblock %}</h1>
{% endblock %}

{% block content %}
<p>This is a very simple client interfacing the Blog API webservice. It includes an example of using sqlite via sqlalchemy to implement a user login.</p>

<p>See all <a href="{{ url_for('blog.get_posts') }}">blog posts</a>.</p>
{% endblock %}